body{
  height: 1500px;
  position: relative
}

nav{
  background-color: yellow;
}

#navbar1{
  background-color: lightgreen;
  /* position: fixed; */
  width: 100%;
}

/* #navbar2{
  background-color: skyblue;
  position: relative;
  top: 150px;
} */

/* #navbar3{
  background-color: pink;
  position: absolute;
  bottom: 150px;
} */

ul{
  padding: 0px;
  display: flex;
}

li{
  display: inline;
  padding: 10px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #fff;
  background-color: cyan;
}

a:active{
  text-decoration: line-through;
}

.dropdownContainer{
  position: relative;
}

.dropdownMenu{
  background-color: skyblue;
  position: absolute;
  flex-direction: column;
  width: 100%;
  left: 0px;
  top: 75%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s, top 0.5s;
}

.dropdownContainer:hover .dropdownMenu,
.dropdownMenu:hover{
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.fancy:hover {
  background-color: pink;
}

.fancy:hover a{
  color: white;
}

@media only screen and (max-width: 768px) {
  ul{
    flex-direction: column;
  }
}
