nav{
  background-color: orange;
}

ul{
  display: flex;
  justify-content: flex-end;
}

#home{
  margin-right: auto;
}

li{
  display: inline;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  ul{
    flex-direction: column;
  }
}
