.flex-center{
  display: flex;
  justify-content: center;
}

.container-1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.flex-wrap{
  display: flex;
  justify-content: flex-end;
}

.justify-content{
  display: flex;
  justify-content: center;
}

.align-items{
  display: flex;
  align-items: stretch;
}

.item{
  height: 50px;
  /* width: 20%; */
  /* background-color: lightgreen; */
  flex: 1;
  text-align: center;
}

.item-2{
  height: 50px;
  width: 300px;
}

.container-2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 600px;
}

.container-3{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  width: 600px;
  height: 300px;
}

.container-4{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 600px;
  height: 300px;
}

/* Utility Classes */
.red-bg{
  background-color: red;
}

.blue-bg{
  background-color: blue;
}

.green-bg{
  background-color: green;
}

.pink-bg{
  background-color: pink;
}

.yellow-bg{
  background-color: yellow;
}
